.slider_header {
  color: #45c0be;
}

.slider_header {
  margin-top: 5rem;
}
.slider_container {
  padding: 4rem 0rem;
  height: 20rem;

  background-color: #eef8ff;
  margin: 4rem 0rem;
}
.slid-btn {
  cursor: pointer;
}
